{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="d-flex flex-column">
        <p class="m-auto p-2">
            we've emailed you instructions for setting your password, if an account exists with the email you entered.
            you should recieve them shortly.
        </p>
        <p class="m-auto p-2">
            if you dont recieve an email, please make sure you have entered the address you registered with,
            and check your span folder.
            <p class="m-auto p-2"><a href="{% url 'home'%}">Return to home page</a></p>
        </p>
    </div>
</div>

{% endblock %}